body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}
.text {
  background: -webkit-linear-gradient(#eee, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
